{% extends "layout.njk" %}
{% block styles %}
    <link rel="stylesheet" href="/styles/form.css">
{% endblock styles %}

{% block header %}
    {% include "../parts/header.njk" %}
{% endblock header %}

{% block content %}

    <section id="edit" class="page_receita">

        <div class="admin_receita">
            <h1>Editando chef</h1>
            <form action="/admin/chefs?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{chef.id}}">
                <button id="delete_recipe" type="submit">Deletar</button>
            </form>
        </div>

        <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">
            <button id="save_recipe" type="submit">Editar chef</button>
            <span class="cleaner"></span>
            <input type="hidden" name="id" value="{{chef.id}}">
            {% include './fields.njk' %}
        </form>
    </section>

{% endblock content %}