<div class="receita_descricao">
    {% if recipe %}
        <input type="hidden" name="id" value="{{recipe.id}}">
    {% endif %}
    <div class="receita_descricao_titles">
        <h2>Imagem da receita</h2>
    </div>
    <div class="receita_input">
        <div id="photos-gallery">
            <div id="photos-upload">
                <input type="file" name="photos" multiple="multiple" id="photos-input" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
                <span class="material-icons">
                    add
                </span>
            </div>
            <div id="photos-preview">
                {% if files %}
                    {% for image in files %}
                        <div class="photo" id="{{image.id}}">
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                                close
                            </i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="receita_descricao_titles">
        <h2>Título da receita</h2>
    </div>
    <div class="receita_input">
        <div>
            <div>
                <input type="text" name="title" id="" value="{{recipe.title}}">
            </div>
        </div>
    </div>

    <div class="receita_descricao_titles">
        <h2>Chef</h2>
    </div>
    <div class="receita_input">
        <div>
            <div>
                <select name="chef_id" id="">
                    {% for chef in chefs %}
                        <option value="{{chef.id}}" {% if chef.id == recipe.chef_id %} selected="selected" {% endif %}>{{chef.name}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="receita_descricao_titles">
        <h2>Ingredientes</h2>
    </div>
    <div class="receita_input">
        <div id="ingredients">
            {% if recipe %}
                {% for ingredient in recipe.ingredients %}
                    <div class="new_ingredients">
                        <input type="text" name="ingredients[]" id="" value="{{ingredient}}">
                        <span onclick="removeIngredient(this)" class="material-icons span_ing" title="Excluir">clear</span>
                    </div>
                {% endfor %}
                {%else%}
                <div class="new_ingredients">
                    <input type="text" name="ingredients[]" id="" value="{{ingredient}}">
                    <span onclick="removeIngredient(this)" class="material-icons span_ing" title="Excluir">clear</span>
                </div>
            {% endif %}
        </div>
        <span onclick="newIngredient()">Adicionar novo ingrediente</span>
    </div>

    <div class="receita_descricao_titles">
        <h2>Modo de preparo</h2>
    </div>
    <div class="receita_input">
        <div id="preparation">
            {% if recipe %}
                {% for preparation in recipe.preparation %}
                    <div class="new_preparation">
                        <input type="text" name="preparation[]" id="" value="{{preparation}}">
                        <span onclick="removePreparation(this)" class="material-icons span_prep" title="Excluir">clear</span>
                    </div>
                {% endfor %}
                {%else%}
                <div class="new_preparation">
                    <input type="text" name="preparation[]" id="" value="{{preparation}}">
                    <span onclick="removePreparation(this)" class="material-icons span_prep" title="Excluir">clear</span>
                </div>
            {% endif %}

        </div>
        <span onclick="newPreparation()">Adicionar novo passo</span>
    </div>
    <div class="receita_descricao_titles">
        <h2>Informações adicionais</h2>
    </div>
    <div class="receita_infos">
        <textarea name="information" id="" cols="30" rows="10">{{recipe.information}}</textarea>
        <input type="hidden" name="user_id" {% if user %} value="{{user.id}}"{% endif %} {% if recipe.user_id %} value="{{recipe.user_id}}" {% endif %}>
    </div>
</div>